@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    background-color: maroon;
}

video{
    width: 400px;
    height: 400px;
}
img{
    width: 150px;
    height: 150px;
}
.iframe{
    display: flex;
    justify-content: space-evenly;
}
.link{
    display: flex;
    justify-content: space-evenly;
}
.container{
    display: flex;
    justify-content: space-evenly;
}
.images{
    display: flex;
    justify-content: space-evenly;
}